<aside class="sidebar">
    <div class="brand">
        <a href="/dashboard"><img src="../logo.png" alt="PowerPuff Vape Logo" class="logo" id="logo"></a>
    </div>
    <ul class="menu">

        <li><a href="/dashboard" data-content="dashboard" class="active">Dashboard</a></li>

        {{#isAdmin}}
        <li><a href="/dashboard/users" data-content="users">Users</a></li>
        {{/isAdmin}}

        <li><a href="/dashboard/suppliers" data-content="suppliers">Suppliers</a></li>
        <li><a href="/dashboard/orders" data-content="orders">Orders</a></li>
               
        {{#canAccessLinks}}
        <li>
            <a href="#" data-content="products">Products</a>
            <ul class="sub-menu">
                <li><a href="/dashboard/products" data-content="product-list">All Products</a></li>
                <li><a href="/dashboard/categories" data-content="categories" class="active">Categories</a></li>
                <li><a href="/dashboard/product-categories" data-content="product-categories" class="active">Product Categories</a></li>
                <li><a href="/dashboard/product-items" data-content="product-items">Product Items</a></li>
            </ul>
        </li>
        {{/canAccessLinks}}
        
        {{#isAdmin}}
        <li>
            <a href="#" data-content="reports">Reports</a>
            <ul class="sub-menu">
                <li><a href="/dashboard/user-activity" data-content="user-activity">User Activity</a></li>
                <li><a href="#" data-content="#" class="active">Categories</a></li>
                <li><a href="#" data-content="#" class="active">Product Categories</a></li>
                <li><a href="#" data-content="#">Product Items</a></li>
            </ul>
        </li>
        {{/isAdmin}}

    </ul>

    <form method="GET" action="/logout">
        <button type="submit" class="logout">Logout</button>
    </form>
</aside>     