<header class="top-nav">
    <div class="search-container">
        <input type="text" id="searchUser" placeholder="Search users..." />
    </div>
    <div class="nav-icons">
        <i class="fa-solid fa-bell" title="Notifications"></i>
        <i class="fa-solid fa-circle-question" title="Support"></i>
        <i class="fa-solid fa-gear" title="Settings"></i>
        <i class="profile" title="Profile">{{ user_name }}</i>
    </div>
</header>